<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<body>
    <iframe src="https://www.paulista.pe.gov.br/2024/dinamico/" width="100%" height="100%" title="Descrição da iframe"></iframe>
</body>

<%- include('partials/footer.ejs') %>
